/* -----------------------------
   CARD DE FORMULARIO PREMIUM
------------------------------ */

.card {
  background: white;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 35px;
  border-left: 6px solid #d60000;
}

.card h2 {
  margin-bottom: 18px;
  font-size: 22px;
  color: #222;
}

.form-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.form-group input {
  flex: 1;
  min-width: 220px;
}

/* -----------------------------
   TABLA PROFESIONAL
------------------------------ */

.table-container {
  background: white;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-left: 6px solid #d60000;
}

.table-container h2 {
  font-size: 22px;
  margin-bottom: 18px;
}
.btn-editar {
  background-color: #007bff;
  border: none;
  padding: 6px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-editar:hover {
  background-color: #0056b3;
}

.btn-cancelar {
  background-color: #555;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  margin-left: 10px;
}